body{
	background-color: #7D7564;
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	font-family: 'Source Sans Pro', Arial, sans-serif;
}

header {
	background-color: #999180;
	color: #ffffff;
	height: 150px;
	margin: 0px;
	width: 960px;
	padding: 0px;
	
}

.wrapper{
	width: 960px;
	margin: 10px auto 10px auto;
	border: 2px solid #7D7A71;
	padding: 0px;
	color: #21201E;
	
}

 h1{
	padding: 10px;
	margin: 0px;
	height: 90px;
	font-weight: normal;
}

nav {
	height: 50px;
	width: 960px;
	margin: 0px;
	background-color: #b0a99c;
	
	
	
}
nav ul{
	margin: 0px;
	float: right;
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 18px;
	
}

nav li{
	display: inline;
	padding-right: 40px;
	
	
}

nav li a.link-index {
	background-color: #7D7564;
	padding: 6px 15px;
}


nav li a {
	text-decoration: none;
	color: #ffffff;
	padding: 6px 15px;
	
}

nav li a:hover {
	background-color: #999180;
}


nav li a:active {
	background-color: #A29D90;
	color: #ffffff;
}



section.main_content {
	width: 960px;
	height: 100%;
	background-color: #ffffff;
	margin: 0px;	
}



img {
	height: 555px;
	width: 940px;
	float: right;
	margin: 0px;
	padding: 0px 10px;
	
}

h2 {
	font-weight: normal;
	padding-top: 10px;
	padding-left: 10px;
	margin-top: 0px;
	width: 960x;
	height: 20px;
	
}

.footer{
	padding: 10px 0px;
	background-color: #b0a99c;	
	text-align: center;
}


